{{ $ := .root }}
{{ $page := .page }}
{{ $hash_id := .hash_id }}
{{ $st := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://wowchemy.com/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}

<!-- About widget -->
<style>
      div.autoscroll {
        background-color: transparent;
        height: 43em;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 1px;
      }
      div.autoscroll:hover {
        overflow-y: auto;
      }
      div.autoscroll p {
        padding-right: 10px;
      }
      div.autoscroll:hover p {
          padding-right: 0px;
      }
      ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: currentColor;
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
</style>
<div class = "container-fluid">
    <div class="row">
      <div class="col-lg-3 mt-5 mt-lg-0 mb-auto px-lg-0 order-lg-1 order-2" style="border: 5px solid grey">
        <div class="autoscroll">
          <div id="profile">
            <div class="portrait-title" style="position: relative; bottom: 30px">
              <p style="font-family:Verdana;">
                <b>
                  {{ if $page.Params.About_title }}
                    {{$page.Params.About_title | markdownify | emojify }}
                  {{ end }}
                </b>
              </p>
            </div>
            <div class="portrait" style="position: relative; bottom: 30px">
              {{ if site.Params.features.avatar.gravatar }}
              <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=270')" alt="{{$person_page.Title}}">
              {{ else if $avatar }}
              {{ $avatar_image := $avatar.Fill "360x360 Top" }}
              <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}"
                  width="{{ $avatar_image.Width }}" height="{{ $avatar_image.Height }}"
                  src="{{ $avatar_image.RelPermalink }}" alt="{{$person_page.Title}}">
              {{ end }}

              {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}

              {{ range $person.organizations }}
              <h3>
                {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
                <span>{{ .name }}</span>
                {{ if .url }}</a>{{ end }}
              </h3>
              {{ end }}
            </div>

            <ul style="position: relative; bottom: 25px" class="network-icon" aria-hidden="true">
              {{ range $person.social }}
              {{ $pack := or .icon_pack "fas" }}
              {{ $pack_prefix := $pack }}
              {{ if in (slice "fab" "fas" "far" "fal") $pack }}
                {{ $pack_prefix = "fa" }}
              {{ end }}
              {{ $link := .link }}
              {{ $scheme := (urls.Parse $link).Scheme }}
              {{ $target := "" }}
              {{ if not $scheme }}
                {{ $link = .link | relLangURL }}
              {{ else if in (slice "http" "https") $scheme }}
                {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
              {{ end }}
              <li>
                <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ .icon }}">
                  <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
                </a>
              </li>
              {{ end }}
            </ul>

            <div class= "portrait caption" style="position: relative; bottom: -5px">
                <p style="text-align:justify; font-size: 16px;">{{ $person.caption | markdownify | emojify }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col px-lg-4 order-lg-2 order-1">
        <div class="row pl-lg-1 mx-lg-n4 pb-auto">
              <div class="col-12 pt-lg-0 pt-2 mt-lg-0">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {{ range $index, $item := $page.Params.content.slides }}
                  <li data-target="#{{$hash_id}}" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></li>
                  {{ end }}
                </ol>

                <!-- Carousel slides wrapper -->
                <div class="carousel-inner">
                  {{ range $index, $item := $page.Params.content.slides }}

                    {{ $style_bg := "" }}
                    {{ $style_filter := "" }}

                    {{with $page.Params.design.slide_height}}
                      {{ $style_bg = printf "%s height: %s;" $style_bg . }}
                    {{end}}

                    {{ with $item.background.color }}
                      {{ $style_bg = printf "%s background-color: %s;" $style_bg (. | default "transparent") }}
                    {{ end }}

                    {{ if $item.background.media }}
                      {{ $bg_img := resources.Get (printf "media/%s" $item.background.media) }}
                      {{ if $bg_img }}
                        {{ $style_bg = printf "%sbackground-image: url('%s'); background-repeat: no-repeat; background-position: %s; background-size: %s; " $style_bg $bg_img.Permalink ($item.background.position | default "center") ($item.background.fit | default "cover") }}
                      {{ else }}
                        {{ errorf "Couldn't find `%s` in the `assets/media/` folder - please add it." $item.background.media }}
                      {{ end }}
                      {{ with $item.background.brightness }}
                        {{ $style_filter = printf "%s-webkit-backdrop-filter: brightness(%s); backdrop-filter: brightness(%s);" $style_filter (string .) (string .) }}
                      {{ end }}
                    {{ end }}

                    <div class="carousel-item{{if eq $index 0}} active{{end}} {{with $page.Params.design.is_fullscreen}}fullscreen{{end}}" style="{{$style_bg | safeCSS}}">
                      <div class="position-absolute d-flex w-100 h-100 justify-content-center align-items-center" style="{{$style_filter | safeCSS}}">
                        {{/* To prevent control overlap, margins are based on $carousel-control-* in bootstrap-variables.scss */}}
                        <div class="wg-hero dark container" style="margin-left: 1rem; margin-right: 1rem; text-align: {{ $item.align | default "left" }};">
                          <h1 class="hero-title">
                            {{ with $item.title }}{{ . | markdownify | emojify }}{{ end }}
                          </h1>

                          {{ with $item.content }}
                            <p class="hero-lead" style="{{if eq $item.align "left"}}margin: 0 auto 0 auto;{{else if eq $item.align "right"}}margin-left: auto; margin-right: 0{{end}}">
                              {{ . | markdownify | emojify }}
                            </p>
                          {{ end }}

                          {{ if $item.link.url }}
                            {{ $pack := $item.link.icon_pack | default "fas" }}
                            {{ $pack_prefix := $pack }}
                            {{ if in (slice "fab" "fas" "far" "fal") $pack }}
                              {{ $pack_prefix = "fa" }}
                            {{ end }}
                            <p>
                              <a href="{{ $item.link.url }}" class="btn btn-light btn-lg mt-3">
                                {{- with $item.link.icon -}}<i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}" style="padding-right: 10px;"></i>{{- end -}}
                                {{- $item.link.text | emojify | markdownify | safeHTML -}}
                              </a>
                            </p>
                          {{ end }}
                        </div>
                      </div>
                    </div>
                  {{ end }}
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#{{$hash_id}}" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#{{$hash_id}}" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div class="row pt-0 mt-4 mt-lg-4 pt-lg-0 " style="border-top: 5px solid #EAEAEA">
          <div class="col-12">
            <b><p style="text-align:left; font-size: 20px;">{{ $page.Params.videoPlaylistTitle | markdownify | emojify }}</p></b>
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/videoseries?list=PLb6PDoPlxpYMXgXqJ_9qHXK19D2x9kP7h"
                    title="My talks at APS March Meetings (Las Vegas 2023 & Chicago 2022)"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
              </iframe>
            </div>
            <!-- <b><p style="text-align:left; font-size: 20px;">{{ $page.Params.video1title | markdownify | emojify }}</p></b>
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/lc63mDu1rUc"
                    title="My talk at APS March Meeting (Las Vegas 2023)"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
              </iframe>
            </div> -->
            <!-- <b><p style="text-align:left; font-size: 20px;">{{ $page.Params.video2title | markdownify | emojify }}</p></b>
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/bMl28r7R7YY"
                    title="My talk at APS March Meeting (Chicago 2022)"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
              </iframe>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-lg-0 mt-2 order-lg-3 order-3">
        <div class="video-column-title">
          <p style="font-family:Verdana">
            <center>
              <b>
              {{ if $st.Params.video_column_title }}
                {{$st.Params.video_column_title | markdownify | emojify }}
              {{ end }}
              </b>
            </center>
          </p>
        </div>
        <div class="autoscroll">
          <div id="video-container"></div>
          <script>
            function onYouTubeIframeAPIReady() {
              var channelID = "UC9OeZkIwhzfv-_Cb7fCikLQ"; // Replace with your channel ID
              var apiKey = "AIzaSyBr85hWkmBy4e2LvVY6F4y0U4soZDp3bCg"; // Replace with your API key
              var maxResults = 1;
              var videoList = document.getElementById("video-container");
              var request = new XMLHttpRequest();
              request.open(
                "GET",
                "https://www.googleapis.com/youtube/v3/search?part=snippet&channelId=" +
                  channelID +
                  "&maxResults=" +
                  maxResults +
                  "&key=" +
                  apiKey +
                  "&order=date&type=video"
              );
              request.onload = function () {
                if (request.status === 200) {
                  var data = JSON.parse(request.responseText);
                  for (var i = 0; i < data.items.length; i++) {
                    var videoId = data.items[i].id.videoId;
                    var videoTitle = data.items[i].snippet.title;
                    var videoThumbnail = data.items[i].snippet.thumbnails.medium.url;
                    var videoLink = "https://www.youtube.com/watch?v=" + videoId;
                    var videoItem = document.createElement("div");
                    videoItem.innerHTML =
                      "<a href='" +
                      videoLink +
                      "' target='_blank'><img src='" +
                      videoThumbnail +
                      "'><br>" +
                      videoTitle +
                      "</a>";
                    videoList.appendChild(videoItem);
                  }
                } else {
                  console.log("Error loading videos");
                }
              };
              request.send();
            }
          </script>
          <script src="https://www.youtube.com/iframe_api"></script>
          <style>
            .video-container {
              display: inline-block;
              width: 300px;
              height: 240px;
              margin: 10px;
              vertical-align: top;
            }
            .video-container img {
              max-width: 100%;
              height: auto;
            }
            .videoItem {
              font-size: 18px; /* adjust the font size as needed */
              font-family: Arial, sans-serif; /* set the font family as needed */
              color: #FF0000; /* adjust the font color as needed */
          </style>

          <!-- <div style="position: relative; bottom: 20px">
              {{/* Pages Widget */}}

              <div class="recent-title">
                <p style="font-family:Verdana">
                  <center>
                    <b>
                    {{ if $st.Params.recent_title }}
                      {{$st.Params.recent_title | markdownify | emojify }}
                    {{ end }}
                    </b>
                  </center>
                </p>
              </div>

              {{ $items_offset := $st.Params.content.offset | default 0 }}
              {{ $items_count := $st.Params.content.count }}
              {{ if eq $items_count 0 }}
                {{ $items_count = 65535 }}
              {{ else }}
                {{ $items_count = $items_count | default 5 }}
              {{ end }}

              {{/* Query */}}
              {{ $query := site.RegularPages }}
              {{ $archive_page := "" }}

              {{/* Filters */}}
              {{ if $st.Params.content.page_type }}
                {{ $query = where $query "Type" $st.Params.content.page_type }}
                {{ $archive_page = site.GetPage "Section" $st.Params.content.page_type }}
              {{ end }}
              {{ if $st.Params.content.filters.folders }}
                {{ $folders := $st.Params.content.filters.folders }}
                {{ $query = where $query "Section" "in" $folders }}
                {{/* Init archive page to main folder */}}
                {{ $main_folder := index $folders 0 }}
                {{ $archive_page = site.GetPage "Section" $main_folder }}
              {{ end }}
              {{ if $st.Params.content.filters.tag }}
                {{ $archive_page = site.GetPage (printf "tags/%s" (urlize $st.Params.content.filters.tag)) }}
                {{ $query = $query | intersect $archive_page.Pages }}
              {{ end }}
              {{ if $st.Params.content.filters.category }}
                {{ $archive_page = site.GetPage (printf "categories/%s" (urlize $st.Params.content.filters.category)) }}
                {{ $query = $query | intersect $archive_page.Pages }}
              {{ end }}
              {{ if $st.Params.content.filters.publication_type }}
                {{ $archive_page = site.GetPage (printf "publication_types/%s" $st.Params.content.filters.publication_type) }}
                {{ $query = $query | intersect $archive_page.Pages }}
              {{ end }}
              {{ if $st.Params.content.filters.author }}
                {{ $archive_page = site.GetPage (printf "authors/%s" (urlize $st.Params.content.filters.author)) }}
                {{ $query = $query | intersect $archive_page.Pages }}
              {{ end }}
              {{ if $st.Params.content.filters.exclude_featured }}
                {{ $query = where $query "Params.featured" "!=" true }}
              {{ end }}
              {{ if $st.Params.content.filters.exclude_past }}
                {{ $query = where $query "Date" ">=" now }}
              {{ end }}
              {{ if $st.Params.content.filters.exclude_future }}
                {{ $query = where $query "Date" "<" now }}
              {{ end }}

              {{ $count := len $query }}

              {{/* Sort */}}
              {{ $sort_by := $st.Params.content.sort_by | default "Date" }}
              {{ $sort_ascending := $st.Params.content.sort_ascending | default (eq $st.Params.content.order "asc") | default false }}
              {{ $sort_order := cond $sort_ascending "asc" "desc" }}
              {{ $query = sort $query $sort_by $sort_order }}

              {{/* Offset and Limit */}}
              {{ if gt $items_offset 0 }}
                {{ $query = first $items_count (after $items_offset $query) }}
              {{ else }}
                {{ $query = first $items_count $query }}
              {{ end }}

                {{ with $st.Content }}{{ . }}{{ end }}

                {{ range $index, $item := $query }}
                  {{ partial "functions/render_view" (dict "page" $st "item" . "view" ($st.Params.design.view | default "compact") "index" $index) }}
                {{end}}

                {{/* Archive link */}}
                {{ $show_archive_link := $st.Params.content.archive.enable | default (gt $count $items_count) }}
                {{ if $show_archive_link | and $archive_page }}

                  {{ $archive_link := "" }}
                  {{ if $st.Params.content.archive.link }}
                    {{ $archive_link = $st.Params.content.archive.link | relLangURL }}
                  {{ else }}
                    {{ $archive_link = $archive_page.RelPermalink }}
                  {{ end }}

                  {{/* Localisation */}}
                  {{ $items_type := $archive_page.Type }}
                  {{ $i18n := "" }}
                  {{ if eq $items_type "post" }}
                    {{ $i18n = "more_posts" }}
                  {{ else if eq $items_type "event" }}
                    {{ $i18n = "more_talks" }}
                  {{ else if eq $items_type "publication" }}
                    {{ $i18n = "more_publications" }}
                  {{ else }}
                    {{ $i18n = "more_pages" }}
                  {{ end }}

                  {{ $archive_text := $st.Params.content.archive.text | default (i18n $i18n) | default "See all" }}

                  <div class="see-all">
                    <a href="{{ $archive_link }}">
                      {{ $archive_text | emojify }}
                      <i class="fas fa-angle-right"></i>
                    </a>
                  </div>
                {{ end }}
          </div> -->
        </div>
      </div>
    </div>
</div>